
html {
	font-size: 20px;
}

body{
	font-weight: normal;
	font-family: Helvetica;
	color: white;
	background:
		linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
		linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
		linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
		linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
		linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
		linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
	background-color: #131313;
	background-size: 20px 20px;
	text-align: center;
}

header{
	background-color: #666666;
}

header>h1{
	position: relative;
	display: block;
	font-size: 4rem;
	text-align: center;
}

header>h2{
	position: relative;
	display: block;
	font-size: 2rem;
	text-align: center;
}

.navbar{
	background-color: #444444;
	text-align: center;
	height: 3rem;
}

.navbar>a{
	display: inline-block;
	margin: 1rem;
	color: white;
}

.navbar>a:hover{
	background-color: #222222;
	color: grey;
	outline: 10px solid;
}

/*BASIC DISPLAY TYPES*/

.inlinesection{
}

.fancyspan{
	color: red;
}

.italicspan{
	font-style: italic;
}

.boldspan{
	font-weight: bold;
}

.blockcontainer{
}

.blocksection{
	background-color: grey;
}

.inlineblockcontainer{

}

.inlineblocksection{
	display: inline-block;
	background-color: blue;
}


/*BOX MODEL*/

.inlineboxmodel{
	display: inline;
	width: 500px;
	height: 200px;
	padding: 15px;
	border: 5px solid;
	border-color: #ff0000;
	margin-top: 20px;
	color: #ccaa00;
	background-color: #cc0000;
}

.inlineblockboxmodel{
	display: inline-block;
	width: 500px;
	height: 200px;
	padding: 15px;
	border: 5px solid;
	border-color: #ffff00;
	margin-top: 20px;
	color: #222222;
	background-color: #cccc00;
}

.blockboxmodel{
	display: block;
	width: 500px;
	height: 200px;
	padding: 15px;
	border: 5px solid;
	border-color: #0000ff;
	margin-top: 20px;
	color: white;
	background-color: #00aaff;
}

/*STATES*/

.button{
	width: 100px;
	height: 50px;
	background-color: white;
	color: black;
	border: solid;
}
	.button:active{
		transform: scale(0.9);
	}

.button1{

}
	.button1:hover{
		color: white;
		background-color: black;
	}


.button2{
	width: 115px;
	height: 80px;
}
	.button2:hover{
		color: white;
		background-color: red;
	}

.button3{
	width: 250px;
	height: 250px;
	color: #cc0000;
	background-color: #ee7788;
}
	.button3:hover{
		color: #7777FF;
		background-color: blue;
	}


/*UNITS*/

.pixeldiv{
	width: 100px;
	height: 100px;
	background-color: pink;
}

.remdiv{
	width: 4rem;
	height: 4rem;
	background-color: purple;
}

.emcontainer{
	width: 200px;
	height: 200px;
	font-size: 10px;
	background-color: orange;
}

.emdiv{
	width: 10em;
	height: 10em;
	background-color: yellow;
}

.perccontainer{
	width: 200px;
	height: 200px;
	font-size: 10px;
	background-color: cyan;
}

.percdiv{
	width: 50%;
	height: 50%;
	background-color: blue
}

.vpdiv{
	width: 90vw;
	height: 5vh;
	background-color: grey;
}